body {
	margin: 0;
}
header {
	position: fixed;
	background-color: white;
	height: 150px;
	width: 100%;
	z-index: 20;
	top: 0;
}
.header-box {
	position: relative;
	display: flex;
	width: 100%;
	height: auto;
}
.logo-box, .member-box {
	display: flex;
	justify-content: center;
}
#queen-logo:hover, .member-link:hover, .header-list>a:hover, .list-link:hover, .contact-community>a:hover {
	opacity: 0.5;
}
.member-link:hover, .list-link, .list-link:hover {
	color: #141414;
} 
#queen-logo, .content2-pic {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#queen-logo {
	background-image: url(queenshop-logo.svg);
	width: 340px;
	height: 100px;
	transition: 0.5s;
}
.product-search, .member-box {
	position: absolute;
	display: flex;
	right: 10%;
	top: 25%;
}
.member-box {
	display: flex; 
	right: 14%;
	top: 50%;
}
.search-box {
	display: flex;
	width: 170px;
	margin: auto;
	border-bottom: 1px solid black;
}
#search-text {
	border: none;
}
.search-icon, .member-icon {
	width: 16px;
}
.member-link {
	color: #000000;
	padding: 2px;
	transition: 0.1s;
}
.member-link > span {
	font-size: 3px;
}
.header-list {
	display: flex; 
	margin: auto;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	height: 45px;
}
.header-list > a {
	font-size: 15px;
	font-family: Georgia;
	letter-spacing: 0.5px;
}
.main-carousel {
	background-color: #FAFAFA;
	display: flex;
	margin: 5px auto;
}
#carousel-box {
	margin-top: 175px;
	margin-bottom: 40px;
	width: 100%;
}
#myCarousel > ol {
	bottom: -40px;
}
#myCarousel > ol > li {
	background-color: #DBDBDB;
	border: none;
	margin: 2px;
}
#myCarousel > ol > .active {
	background-color: #666666;
}
.spring-video, .spring-font, .spring-sale {
	display: flex; 
	flex-flow: column;
}
.spring-video {
	background-color: #2d5155;
	width: 100%;
	height: auto;
}
.spring-font, .spring-pic {
	align-items: center;
	margin: 20px auto;
	font-family: ‘cwTeXFangSong’, serif, Lucida Console;
	color: #B9BFC2;
	font-size: 13px;
	cursor: default; 
}
.spring-font > h3 {
	letter-spacing: 2px;
	font-weight: lighter;
}
.spring-pic, .spring-container, .discount-container {
	display: flex;
}
.springBox {
	margin: 0 10px;
	text-align: center;
}
.springBox > p {
	letter-spacing: 0.5px;
	margin-top: 10px;
}
.new-pic {
	display: flex;
	margin: 100px auto;
}
.spring-sale {
	margin-left: 1%;
	justify-content: space-between;
}
.bigItem-container {
	margin-bottom: 60px;
}
.bigItem-container, .mediumItem-container, .discount-container2 {
	display: flex; 
	flex-flow: column;
	width: 100%;
}
.mediumItem-container {
	margin-bottom: 100px;
}
.bigItem-pic, .mediumItem-box {
	max-width: 1440px;
	height: auto;
	overflow: hidden;
}
.mediumItem-box, .mediumItem-pic {
	display: flex;
	margin: 20px auto; 
	width: 95%;
}
.item-pic {
	display: flex;
	margin: 0 auto;
	width: 90%;
}
.discount-box {
	display: flex;
	align-items: center;
	width: 80%;
	margin: 40px auto;
}
.discount-pic {
	width: 100%;
	height: auto;
}
.discount-box2 {
	display: flex;
	margin: 60px auto;
	width: 80%;
}
.other-content {
	display: flex;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.other-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 0;
}
.otherPic-box {
	display: flex;
	flex-flow: column;
	width: 16%;
}
.otherPic-box > p {
	font-family: Microsoft JhengHei, Lucida Console;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	background-color: #000000;
	letter-spacing: 1px;
	font-size: 16px;
	color: #F6F6F6;
	cursor: default;
}
.other-pic {
	display: flex;
	width: 100%;
}
#queen-footer {
	background-color: #2a2a2a;
	height: 190px;
}
.footer-list {
	display: flex;
	height: 35%;
	border-bottom: 1px solid white;
}
.footerlist-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 65%;
	margin: 0 auto;
}
.footerlist-font {
	font-family: ‘cwTeXFangSong’, Lucida Console;
	color: #F2F2F2;
	font-size: 12px;
	font-weight: lighter;
	transition: 0.5s;
}
.footerlist-box > a:hover, .contact-font > a, .contact-font > a:hover{
	color: #F2F2F2;
}
.footer-contact {
	border: 1px solid white;
	display: flex;
	height: 45%;
}
.contact-community {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border: 1px solid white;
	width: 30%;
}
.community-img {
	padding: 0 5px;
	transition: 0.5s;
}
.contact-local {
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0 auto;
	width: 40%;
}
.contact-font {
	display: flex;
	margin: 0 auto;
	font-size: 11px;
	font-family: Times New Roman;
	font-weight: bold;
	color: #F2F2F2;
	cursor: default;
	transition: 0.5s;
}
.contact-epaper {
	display: flex;
	align-items: center;
	border: 1px solid white;
	width: 30%;
}
.epaper-all > span, .submit {
	font-family: Times New Roman;
	background-color: #2a2a2a;
	color: #F2F2F2;
}



